<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <a href="/quizzes">Quizzes</a>
    <a href="/credits">Credits</a>
    <p>The web site where you can create your own games!</p>
  </body>
</html>
